.blog{
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog img{
    width: 50%;
}

.blog p{
    font-size: 20px;
    font-weight: 700;
}


@media screen and (max-width: 726px) {
    .blog{
        flex-direction: column-reverse;

    }

    .blog img{
        width: 100%;
    }

    
}