.Sessao{
    padding: 30px;
}

.Sessao h2{
    margin-bottom: 20px;
}

.Sessao .img{
    background-image: url('img/caminhando.png');
    height: 230px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.Sessao p{
    font-size: 16px;
    /* text-align: justify; */
    font-weight: 400;
}

.Sessao button{
    border: none;
    background-color: #FDBF46;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.Sessao button:hover{
    background-color: #dfa126;
}

.Sessao button a{
    text-decoration: none;
    color: black;
}