.CardBeneficios{
    width: 100%;
    display: flex;
    gap: 20px;
}



.CardBeneficios div.img{
    background-color: #52DAB1;
    max-width: 200px;
    height: fit-content;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.CardBeneficios div.img img{
    width: 80%;
    max-width: 80%;
}

.CardBeneficios div.infos{
    width: 50%;
    font-size: 15px;
    /* padding: 7px 0; */
}


.CardBeneficios div.infos p{
    font-size: 16px;
    margin-top: 15px;
}

@media screen and (min-width:740px) {
    .CardBeneficios{
        flex-direction: column;
        width: 200px;
    }  
    .CardBeneficios div.infos{
        width: 100%;
        text-align: center;
    }
    .CardBeneficios div.infos p{
        text-align: justify;
    }
    .CardBeneficios div.img{
        max-width: 200px;
    }
} 