.Header {
    width: 100%;
    height: 65px;
    background-color: #FDBF46;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.Header img {
    width: 65px;
}

.Header .icon {
    font-size: 35px;
    cursor: pointer;
}

.Header .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FDBF46;
    z-index: 999;
    padding: 50px;
}

.menu-none {
    display: none;
}

.desktop-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.menu nav ul {
    width: 100%;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu nav ul li {
    font-weight: bold;
    margin: 10px 0;
    font-size: 24px;
}

.link {
    text-decoration: none;
    color: black;
}

.close {
    color: rgb(255, 44, 44);
    position: relative;
    top: 18px;
    left: 70%;
}

.close:hover {
    color: rgb(194, 0, 0);
}


.desktop-menu{
    display: none;
}



/* Switch pego no site UiVerse */
/* https://uiverse.io/andrew-demchenk0/honest-stingray-90 */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

@media screen and (min-width: 780px) {
    .menu-mobile {
        display: none;
    }

    .desktop-menu{
        display: block;
    }
    
}