.footer{
    width: 100%;
    height: 220px;
    background-color: #FDBF46;
    padding: 30px;
    display: flex;
    gap: 8%;
    justify-content: center;
}

.footer .localizacao img{
    width: 150px;
}

.footer .contatos .contato{
    display: flex;
    margin: 8px 0;
    align-items: center;
    gap: 10px;
}

.footer .contatos h3{
    margin-bottom: 10px;
}

.footer .contatos .contato .i{
    font-size: 30px;
}